.timer {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #212121;
  border-radius: 2px;
}

.field {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.value {
  background-color: #16dd1d;
  font-size: 45px;
  padding: 10px 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.label {
  font-size: 20px;
  text-transform: uppercase;
}
